	body{
		margin: 0;
		background: #4B95B5;
		font-family: cursive, serif, sans-serif,Times New Roman, Fantasy;
	}

	.table{
		overflow: scroll;
		border-radius: 10px;
		font-family: cursive, Times New Roman;
		line-height: 20px;
		padding: 10px;
		text-align: center;
		/*vertical-align:  */
		font-size: 16px;
		border: 10px solid #226785;
		background: #88C7E3;
		width: 960px;
		height: 560px;
		margin: 10px auto;
	}

	table td, table th{
		border: 2px solid #226785;
	}

	table th{
		background: #4B95B5;
	}

	.t{
		border-radius: 7px;
		border: 3px solid #226785;
	}
